<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if logged_in? %>
<%= link_to "Log out", logout_path, method: :destroy %>

<h2>My Cart</h2>
<% @cartproducts.each do |product| %>
	<p><%= product.name %>, <%= product.price %></p>
	<% @carttotal = @carttotal + product.price %>
	<%= form_tag '/products/remove_from_cart' do %>
	<%= hidden_field_tag :product_id, product.id %>
	<%= submit_tag "Remove from Cart", class: "btn" %>
<% end %>
<% end %>
	<p> <%= @carttotal %> </p>
	<%= form_tag '/carts/update' do %>
	<%= hidden_field_tag :cart_id, @user.cart.id %>
	<%= submit_tag "Checkout", class: "btn" %>
	<% end %>

	

<h2>My Wishlist</h2>
<% @wishlistproducts.each do |product| %>
	<p> <%= product.name %> </p>
	<%= form_tag '/products/remove_from_wishlist' do %>
	<%= hidden_field_tag :product_id, product.id %>
	<%= submit_tag "Remove from Wishlist", class: "btn" %>
<% end %>
<% end %>


<% end %>